* {
    font-size: large;
    font-family: georgia;
}
body {
    background-color: beige;
}
.tab-menu {
    text-align: center;
}
.tab-content {
    display: none;
}
.deck-selection-menu {
    text-align: center;
}
.action-menu {
    text-align: center;
}
#error-message {
    color: red;
}
.card-display-area {
    position: relative;
    top: 0;
    left: 0;
}
.active {
    background-color: gray;
    color: white;
}